.jumbotron {
    padding-top: 6rem;
    background-color: #9847;

}
h2 {
    text-align: center;
}

.container {
    width: 950px;
    border: 2px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.card {
    display: flex;
    position: relative;
    overflow: hidden;
}
.img-title {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(5, 5, 5, 0.75);
    bottom: 400px;
    transition: all 0.5s ease-in;
}
.img-title p,h3{ 
    text-align: center;
    color: #fff;
    position: relative;
    top: 340px;
    text-shadow: 1px 1px rgba(5, 5, 5, 0,25);
}
.card:hover .img-title{
    bottom: 0%;
    transition: all 0.5s ease-out;
}
.card img {
    transform: scale(1);
    transition: all .3s ease-out;
}
.card:hover img {
    transform: scale(1.1);
    transition: all .3s ease-in;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 100;
    text-align: center;
    padding: 130px 0;
    width: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.1s ease-out;
}
a {
    line-height: 0;
}
.overlay img {
    width: 25%;
    margin: auto 0;
}
.overlay a {
    position: absolute;
    top: 95px;
    left: 50%;
    margin-left: -20px;
    color: #fff;
    text-decoration: 0;}
.overlay:target {
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.1s ease-in;
}

#footer {
    background-color: #9847;
    padding-bottom: 0.1rem;
}

@media (max-width: 1024px) {

}
@media (max-width: 768px) {

}
@media (max-width: 500px) {

}