*{
    margin; 0;
    padding: 0;
} 

body{
    background-color: #9847;
}

.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.calculator{
background: blue;
padding: 9px;
border-radius: 5px;
}

.textview{
    width: 215px;
    font-size: 22px;
    font-weight: bold;
    padding: 5px;
}

.button{
    width: 50px;
    height: 50px;
    font-size: 22px;
    margin: 3px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 2px #fdfd;
}

.button:hover{
    box-shadow: 0px 0px 3px;
}
.equal{
    height: 110px;
}

.equal:hover{
background: green;
color: white;
}

.del:hover{
background: red;
color: white;
}
.zero{
    width: 110px;
}